img {
  width: 100%;

}

.landing {
  position: relative;

  background-size: cover;
  background-position: center;
  height: 25rem;
  margin-top: -24px;
  margin-bottom: 80rem;
  margin-left: 0px;
  margin-right: 0px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {



background-color: rgba(23,162,184,1);

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}


.featurette-divider {

  background: rgba(255, 51 ,0, 1);
  height: 0.1;
  margin: 40
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}
